* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-size: 4vmin;
    height: 8vmin;
    padding: 2vmin;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: auto;
    width: 40%;
    gap: 8vmin;
    margin-top: 6%;
    padding: 20px 2px;
    border-radius: 15px;
}


.display_emoji {
    display: inline;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 3vmin;
    border-radius: 20px;
    font-size: 4.5vmin;
    line-height: 5vmin;
}

.emoji {
    font-size: 28vmin;
    cursor: pointer;
}


span {
    color: rgb(0, 204, 255);
    font-weight: 700;
}

.emoji_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GenEmoji {
    padding: 2vmin 10vmin;
    background-color: #ffffff;
    color: black;
    font-size: 3.5vmin;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}




@media(max-width:475px) {

    .heading {
        height: 10vmin;
        font-size: 5vmin;
        padding: 2vmin;
    }

    .container {
        width: 95%;
        margin: 50vmin 1vh;
        padding: 6vh 0vh;
        border-radius: 10px;
    }

    .emoji {
        font-size: 25vmin;
    }

    .GenEmoji {
        padding: 1.5vmin 7vmin;
        font-size: 3vmin;
        border-radius: 10px;
    }

}
