* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.heading {
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-size: 6vmin;
    padding: 2vmin;
}

.container {
    display: grid;
    height: 70vh;
    width: 100vmin;
    margin: 0 60vh;
    padding: 3vmin;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 8vmin;
    border-radius: 20px;
}

.display_emoji {
    display: inline;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 3vmin;
    border-radius: 20px;
    font-size: 4.5vmin;
    line-height: 5vmin;
}

.emoji {
    font-size: 28vmin;
    cursor: pointer;
}


span {
    color: rgb(0, 204, 255);
    font-weight: 700;
}

.emoji_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GenEmoji {
    padding: 2vmin 10vmin;
    background-color: #ffffff;
    color: black;
    font-size: 3.5vmin;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}